.footer {
  background: #161c28;
  padding-top: 130px;
  color: #ffffff;
}
.foooter--header {
  display: flex;
}

.footer--header-left {
  width: 50%;
}
.footer--text-box {
  width: 460px;
}
.footer--header-title {
  font-weight: 600;
  font-size: 50px;
}
.footer--header-text {
  margin-top: 20px;
  color: #a6a6a6;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.footer--header-comma {
  margin-top: 40px;
  width: 45px;
  height: 38px;
}
.footer--header-rewiev {
  margin-top: 40px;
  color: #a6a6a6;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.footer--header-author {
  margin-top: 40px;
  color: #a6a6a6;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.footer--header-photos-list {
  display: flex;
  margin-top: 40px;
  list-style: none;
}
.footer--header-photos-list-item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0px;
  }
}
.footer--header-photos-link {
  display: block;
  width: 66px;
  height: 66px;
}
.footer--header-right {
}
.footer--right-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  background: #222938;
  padding-top: 40px;
  padding-right: 86px;
  padding-bottom: 60px;
  padding-left: 86px;
}
.footer--header-form-icon {
}
.footer--header-form-title {
  padding-top: 10px;
  font-weight: 500;
  font-size: 30px;
}
.footer--header-form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: stretch;
}
.footer--header-email-label {
  align-self: start;
}
.footer--header-email {
  margin-top: 10px;

  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.footer--header-email-input {
  margin-top: 20px;

  border-radius: 10px;
  background: #ffffff;
  padding: 16px 20px;
  width: 440px;
  &::placeholder {
    color: #a6a6a6;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.footer--header-meassage-label {
  align-self: start;
}
.footer--header-message {
  margin-top: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.footer--header-message-input {
  margin-top: 20px;
  outline: none;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px 20px;
  width: 440px;
  min-height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  &::placeholder {
    color: #a6a6a6;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.footer--header-submit-form-btn {
  margin-top: 20px;
  border-radius: 10px;
  background: #54bd95;
  padding: 20px 0;
  width: 440px;

  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.footer--header-trial-link {
  align-self: flex-end;
  margin-top: 10px;
  font-size: 14px;
}
.footer--header-link-or {
  color: #a6a6a6;
}
.footer--bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}
.footer--bottom-email-block {
}
.footer--bottom-list-box {
  margin-left: 64px;
  &:first-child {
    margin-left: 0;
  }
}
.footer--bottom-text {
  margin-top: 30px;
  color: #a6a6a6;
}
.footer--bottom-email-form {
  margin-top: 30px;
}
.footer--bottom-email-label {
}
.footer--bottom-email {
  border: 2px solid #a6a6a6;
  border-radius: 40px;
  background-color: #161c28;
  padding: 15px 0px 15px 20px;
  width: 410px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  &::placeholder {
    margin-left: 15px;
    color: #a6a6a6;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}
.footer--bottom-email-submit {
  position: relative;
  top: 15px;
  right: 57px;
  border-radius: 50%;
  background: #54bd95;
  background-image: url("../img/arrow-right-btn.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
}
.footer--bottom-links-block {
  display: flex;
}
.footer--bottom-list {
  margin-top: 30px;
  list-style: none;
}
.footer--bottom-list-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.footer--bottom-list-item {
  margin-top: 20px;

  color: #a6a6a6;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.footer--bottom-copyright-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 40px;
}
.footer--bottom-list-link {
}

.footer--bottom-copyright-list {
  display: flex;
}
.footer--bottom-copyright {
}
.footer--bottom-terms-link {
}
.footer--bottom-copyright-item {
  margin-left: 30px;
  &:first-child {
    list-style: none;
  }
}
