.offer {
  margin-top: 90px;
  margin-bottom: 130px;
  background: #f5f5f5;
}
.offer--block {
  display: flex;
}
.offer--left-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
}
.offer--title {
  color: #191a15;
  font-weight: 700;
  font-size: 80;
  line-height: 90px;
}
.offer--text {
  margin-top: 40px;
  width: 460px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.offer-line-container {
  align-self: flex-start;
  margin-top: 20px;
  background: no-repeat center/100% url(../img/curve-line.svg);
  width: 479px;
  height: 40px;
}
.offer--link-block {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.offer--link-svg {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.offe--lin--fill {
  border-radius: 40px;
  background-color: #54bd95;
  padding: 20px 30px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.offe--link {
  margin-left: 14px;
}
.offer--right-block {
  width: 50%;
}

.offer--collabs {
  margin-top: 130px;
  text-align: center;
}
.offe--collabs-title {
  font-weight: 700;
  font-size: 40px;
}
.offer--collabs-logos {
  margin-top: 60px;
}
